@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

#root {
  min-height: 100vh;
}
